<script>
$(document).ready(function(){
    $("#show-comments").click(function(){
        $("#showed-comments").show(250);
        $("#show-comments").hide();
    });
});
</script>


<div class="row-2" id="show-comments" align='center'>
<p>Show all comments</p>
</div>
<% i=0%>
<div class="row-2" style="margin-top:15%;display:none;" id="showed-comments">
<hr class="md-4">
<h2 align="">Comments</h2>
<hr class="md-4">
<% if !Comment.find_by(article_id:@article).blank?%>
<%  @article.comments[@article.comments.all.length].destroy!%>
<br>
  <% @article.comments.each do |c|%>
  <% if c.description.blank? %>
  <% break %>
  <% end %>


    <div class="col">
      <div class="row" style="margin-top:0.25%">
        <div class="card" style="min-width:100%">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 14px;
                    line-height: 1.4;
                    padding: 15px;
                    text-rendering: auto;
                    color:#0082A9 !important">
      <% if logged_in? and !c.username.start_with?("Guest") %>
      <%= gravatar_for c.user,size:32 if logged_in? %>
      <%= link_to c.username,user_path(c.user_id),style:'text-decoration:none;margin-left:1%' %>
      <% else %>
        <%= link_to c.username,"#",style:'text-decoration:none;margin-left:1%' %>
      <% end %>
      <br>
      <small style="color:#cbcbcb;margin-left:4.5%">
        <%= c.updated_at%>
      </small>
    </h5>

          <p class="card-text" style="    /* width: 1000px; */
    font-size: 16px;
    line-height: 1.4;
    color:  #262626;
    /* float: left; */
    margin-left: 1.5%;
    padding-bottom:40px;">
          <%= c.description %>
          <% if logged_in? && (c.user == current_user or current_user.admin?)%>
          <span style="float:right;margin-top:3%;">
            <%= link_to 'Delete',comment_path(c),:method=>:delete,:remote => true%>
          </span>


          <% end %>
          <br>

        </p>

        </div>
      </div>
      </div>

    </div>

  <% end %>
  <% else %>
  <span>There's no comment for this article</span>
<% end %>
  </div>
