<% if obj.count!=0 %>
  <% obj.each do |article| %>
  <div class="row-2">
    <div class="col-xs-8 col-xs-offset-2" style="margin-top: 20px;">
      <div class="card card-body bg-light">
          <!-- title -->
           <h4 class="center card-title" style="color: black">
             <%= link_to article.title,article_path(article) %>
           </h4>

          <!-- ####### -->

          <!-- body -->
         <p class="card-text" style="color:black;">
           <%= truncate(article.description,length:100)%>
           <small style="float:right;color: grey;">Created by:
            <% if logged_in? && article.user_id==session[:user_id] %>
              <%= link_to 'You',user_path(article.user),style:'color:grey' %>
            <% else %>
              <%= link_to article.user.username,user_path(article.user),style:'color:grey' %>
            <% end %>
            </small> 
         </p> 
          <!-- ####### -->

          <!-- actions -->
          <% if logged_in? && (article.user==current_user or current_user.admin?) %>
           <div class="article-actions">
            
            <%= link_to "Edit this article",
                edit_article_path(article),
                class:'btn btn-primary btn-sm '%> 

            <%= link_to "Delete this article",
                article_path(article),
                :method=>:delete,
                class:'btn btn-danger btn-sm',
                :data=>{:confirm=>"Are your sure you want to delete this article"}%>

                
          </div> 
          <% end %>

          

          <!-- ####### -->
      </div>
    </div>
  </div>
    
  <% end %>

<% else %>

  <h2 align="center" style="color:#cbcbcb;" >●<br>●<br>●<br>No articles to show</h2>
<% end %>