<h1 align="center"> Welcome to <%= @user.username %>'s page</h1>

<div class="row">
  <div class="center col-md-12 col-md-offset-4">
    <%= gravatar_for @user,size:160 %>

    <%= simple_format @user.short_bio,style:'color:#cbcbcb;margin-top:1.5%' %>
    <% if logged_in? and @user.id!=current_user.id%>
    <li class="article-title">
      <p class="card-title">
      <%#binding.pry %>
      <%= render 'relationships' %>
      </p>
    </li>
    <% end %>
  </div>
</div>
<hr class="md-4">
<h4 align="center"> <%= @user.username %>'s articles</h4>
<%= render 'articles/article',obj: @user_articles %>
<%= will_paginate @user_articles %>
